In [13]:
# Exo 1
a = 1
b = 'France'
c = 36.2

a, b, c = 1, "France", 36.2

print(a,b,c)

1 France 36.2

In [3]:
# Exo 2
ch = "Salut"
ch = "ça va"
print(ch)

ça va

In [7]:
# Exo 3
x = 3
y = 8.5

x = str(x)
y = str(y)

print(type(x))
print(type(y))

<class 'str'>
<class 'str'>

In [14]:
# Exo 4
poids = input("Quel est votre poids ?")

print("Le poids de l'utilisateur est de : " + poids + "kg")

Le poids de l'utilisateur est de : 95kg

In [15]:
# Exo 5
var = "Bonjour"

if type(var) is int:
    print("Entier")
elif type(var) is str:
    print("Chaîne de caractères")

Chaîne de caractères

In [16]:
# Exo 6
d = 5

if d > 0: 
    print("Positive")

else :
    print("Négative")

Positive

In [19]:
# Exo 7
age = int(input("Quel âge avez-vous ?"))

if age >= 18 :
    print("L'utilisateur est majeur")
else :
    print("L'utilisateur est mineur")

L'utilisateur est mineur

In [20]:
# Exo 8
for i in range(1,21):
    print(i)

i=1
while i < 21 :
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [21]:
# Exo 9
for i in range(10, 21, 2):
    print(i)

i=10
while i < 21 :
    print(i)
    i+=2

10
12
14
16
18
20
10
12
14
16
18
20

In [25]:
# Exo 10

[x for x in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
# Exo 11
[x for x in range(0,11,2)]

[0, 2, 4, 6, 8, 10]

In [30]:
# Exo 12
L = [6,8,3,4,1,12,2,9,2]
L.sort()
L

[1, 2, 2, 3, 4, 6, 8, 9, 12]

In [31]:
# Exo 13
L = [6,8,3,4,1,12,2,9,2]
L.count(1)

1

In [32]:
# Exo 14
L = []
L.extend([10,25,30,45,90, "ab", "cd", "ef"])
print(L)

# ou
L = []
L += [10,25,30,45,90, "ab", "cd", "ef"]
print(L)

# ou
L = []
L_extend = [10,25,30,45,90, "ab", "cd", "ef"]
for elem in L_extend:
    L.append(elem)
print(L)

[10, 25, 30, 45, 90, 'ab', 'cd', 'ef']
[10, 25, 30, 45, 90, 'ab', 'cd', 'ef']
[10, 25, 30, 45, 90, 'ab', 'cd', 'ef']

In [52]:
#Exo 15
L = [x for x in range(1,11)]
L1 =L[::3]
L1

[1, 4, 7, 10]

In [65]:
# Exo 16
c = 'france'
c = list(c)
c.sort()
c = "".join(c)
c

# ----- #

c = 'france'
c = sorted(c)
c = "".join(c)
c

'acefnr'

In [67]:
# Exo 17
L1 = [9, 8, 7, 14, 3, 2, "a", "p", "bonjour", "b"]
L2 = ["b", 1, 9.2, 6, 3, 9, "p"]

L3_set = set(L1) & set(L2)
L3 = list(L3_set) 
print(L3)

[9, 3, 'p', 'b']

In [83]:
list(map(lambda x : x[1], L))

[2, 8, 9, 12, 15]

In [87]:
# 18

L = [("Pomme", 15), ("Banane", 8), ("Fraise", 12), ("Kiwi", 9), ("Peche", 2)]

L.sort(key=lambda x : x[1])

# ou

L = [("Pomme", 15), ("Banane", 8), ("Fraise", 12), ("Kiwi", 9), ("Peche", 2)]

def sort_second_elem(elem):
    return elem[1]

L.sort(key=sort_second_elem)

In [89]:
# 19
ch = "Bonjour tout le monde"

ch[::-1]

'ednom el tuot ruojnoB'

In [90]:
# Exo 20 
mydict = {"Pomme": 3,
          "Banane": 7,
          "Kiwi": 1}

print(mydict["Pomme"], mydict['Banane'])

3 7

In [91]:
# Exo 21
mydict = {"Pomme": 15,
          "Banane": 8,
          "Kiwi": 9,
          "Peche":2 }

sum([x for x in mydict.values()])

34

In [102]:
# Exo 22

c = 187.632587

"{:.2f}".format(c)

# ---

print(f"{c:.2f}")

# ---

print(f"{187.632587:.2f}")

187.63
187.63

In [105]:
# Exo 23
monNom = "Julien"
age = 32
nomLangage = "Python"

print(f"Je m'appelle {monNom} et j'ai {age} ans, J'apprends le langage {nomLangage}".format())

Je m'appelle Julien et j'ai 32 ans, J'apprends le langage Python

In [109]:
# Exo 24
for i in range(11):
    print("{} x {} = {}".format(8, i, 8*i))

8 x 0 = 0
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80